.direnv
**/*.vcd
**/*.log
**/.DS_Store

**/simv
**/*.vcd

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.run.xml
**/*.synctex.gz
**/*.toc
**/*.nav
**/*.snm
**/*.vrb
**/*.lof
**/*.lot
**/*.lol
**/*.idx
**/*.ilg
**/*.ind
**/*.glo
**/*.gls
**/*.glg
**/*.ist
**/*.xdy

**/*.pdf
**/*.dvi
**/*.ps
**/*.eps
